@use "mixin";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    padding: 1.5rem;
    z-index: 999;
    
    &-logo {
        font-size: 2.5rem;
    }

    &-list {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        @include mixin.sp {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #fff;
            visibility: hidden;
            opacity: 0;
            z-index: -1;
            transition: visibility .5s, opacity .5s;

            &.active {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &-link {
        font-size: 1.25rem;
    }

    .hamburger {
        display: none;
        position: relative;
        width: 40px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        @include mixin.sp {
            display: inline-block;
        }

        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: #000;
            border-radius: 4px;
            transition: top .5s, opacity .5s, transform .5s;

            &:nth-of-type(1) {
                top: 0%;
            }
            &:nth-of-type(2) {
                top: 50%;
            }
            &:nth-of-type(3) {
                top: 100%;
            }
        }

        &.active span {
            &:nth-of-type(1) {
                top: 50%;
                transform: rotate(225deg);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                top: 50%;
                transform: rotate(-225deg);
            }
        }
    }
}